<nav class="uk-navbar-container uk-navbar-transparent nav-bar" uk-navbar>
  <UkTab as |tab|>
    <tab.item @href="/">{{t "nav.documents"}}</tab.item>
    <tab.item @href="/form-builder">{{t "nav.form-builder"}}</tab.item>
    <tab.item @href="/alexandria">{{t "nav.alexandria"}}</tab.item>
    <tab.item @href="/emeis">{{t "nav.emeis"}}</tab.item>
  </UkTab>
</nav>
