<h1 class="uk-flex uk-flex-between">
  {{t "cases.title"}}

  <span>
    <LinkTo @route="cases.new" class="uk-button uk-button-primary">
      {{t "cases.new.title"}}
    </LinkTo>
  </span>
</h1>

<hr />
<CasesTable @order={{this.order}} @updateOrder={{this.updateOrder}} />
