{{#if @model}}
  <CfContent
    @documentId={{@model}}
    @useAsHeading={{true}}
    @headingBaseLevel={{2}} as |content|
  >
    {{#if (gt content.document.fieldsets.length 1)}}
      <div uk-grid>
        <div class="uk-width-1-1 uk-width-1-3@s">
          <content.navigation />
        </div>
        <div class="uk-width-1-1 uk-width-2-3@s">
          <content.form />
          <hr />
          <content.pagination />
        </div>
      </div>
    {{else}}
      <div class="embedded-content">
        <content.form />
      </div>
    {{/if}}
  </CfContent>
{{/if}}
