.nav-bar {
  border-bottom: solid 1px $global-border;
  padding-bottom: 25px;
  padding-left: 15px;

  & img.nav-bar-logo {
    height: 50px;
  }

  .uk-tab {
    margin: 0;

    &::before {
      border-bottom: none;
    }

    & a {
      /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
      @extend .uk-flex, .uk-flex-middle;

      padding: 0;
      height: calc(100% - 2px);
    }

    &,
    & li {
      height: 100%;

      a {
        font-size: large;
      }
    }

    & .uk-active > a {
      padding-bottom: 25px;
      border-bottom: solid 2px $app-accent-color;
    }
  }
}
