<UkButton
  @type="button"
  @color="text"
  @title={{t "global.openMenu"}}
>
  <span hidden>{{t "global.openMenu"}}</span>
  <UkIcon @icon="more-vertical" />
</UkButton>
<div uk-drop>
  <div class="uk-card uk-card-body uk-card-small uk-card-default">
    <ul class="uk-list">
      {{#each @actions as |action|}}
        <li>
          <UkButton
            @type="button"
            @color="text"
            @onClick={{action.action}}
          >
            {{action.title}}
          </UkButton>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
