$app-accent-color: #2dc175;
$global-primary-background: $app-accent-color;
$modal-z-index: 1;

@import "ember-alexandria";
@import "ember-emeis";
@import "ember-power-select";
@import "ember-uikit";
@import "@projectcaluma/ember-form";
@import "@projectcaluma/ember-form-builder";
@import "components/nav-bar";

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
